.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ec6b25;
  --bs-btn-border-color: #ec6b25;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ec6b25;
  --bs-btn-hover-border-color: #ec6b25;
  --bs-btn-focus-shadow-rgb: 85, 122, 246;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ec6b25;
  --bs-btn-active-border-color: #ec6b25;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ec6b25;
  --bs-btn-disabled-border-color: #ec6b25;
}

